<section id="about" class="about">
  <div class="container">

      <div class="col-lg-12 text-center">
      <div class="row2">
        <h2>WE LOVE WHAT WE DO</h2>
        <p class="lead">Founded in Austin, TX in 2009 by Will Sherman, a native Austinite, Axis Green Services is a locally-owned, family-run small business.<br><br>

        We are wholly committed to the ideal of serving our customers' energy efficiency and ECAD audit needs in a friendly, professional and informative manner.<br><br>

        Axis Green Services is BPI Certified and City of Austin Registered. <br><br>

        We do not perform any weatherization services or repairs, and are not affiliated with any businesses who do.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
      <div class="row1">
        <h2>ABOUT THE ECAD ORDINANCE</h2>
        <p class="lead">The ECAD Ordinance was originally passed in 2009 by the City of Austin in an attempt to reduce energy consumption, educate citizens about the energy efficiency of their homes, and to collect data for creating programs to help Austinites with energy consumption and electricity bills.<br><br>

If you are selling your home, you must have an energy audit performed if all three of these statements are true*: <br><br>

1) Your home is inside Austin city limits.<br><br>

2) Austin Energy is your energy provider.<br><br>

3) Your home is over 10 years old. <br><br>

*For the official documentation from Austin Energy, >>
<a href="https://austinenergy.com/wps/portal/ae/programs/ecad-ordinance/about-the-ordinance/">CLICK HERE</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
