<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>AXIS GREEN SERVICES</h1>
    <h3>ECAD INSPECTIONS<br>
    $150*<br> SAME DAY REPORT<br></h3>
    <br>
    *One AC. Add $50 for each additional AC system.<br><br>
    <a href="mailto:{{ site.email }}" class="btn btn-dark btn-lg"><i class="fa fa-envelope-o"></i> - EMAIL</a>
    <a href="tel:5125849990" class="btn btn-dark btn-lg"><i class="fa fa-phone"></i> - CALL</a>
    <a href="sms:5125849990" class="btn btn-dark btn-lg"><i class="fa fa-phone"></i> - TEXT</a>

  </div>
</header>
